body{
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(45deg, rgb(9, 130, 243), rgb(15, 224, 95));
  
}

h1{
  color: white;
  text-align: center;
}

div{
  background-color: rgba(0,0,0,0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 100px;
  border-radius: 10px;
  border: none;
  outline: none; 
}

input{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
}

button{
  background-color: dodgerblue;
  color: white;
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

button:hover{
  background-color: deepskyblue;
}

button:focus{
  background-color: rgb(17, 221, 160);
}

img{
  position: absolute;
  top: 10%;
  left: 30%;
  
}